@using OzhanCoreLayer.Utilities.Persian_Calender
@model OzhanCoreLayer.ViewModels.AccountVM.UserPanelViewModels.UserPanelInformationForShow
@{
    ViewData["Title"] = "پنل کاربری"+@User.Identity.Name;
    Layout = "~/Areas/Accounts/Views/Shared/_UserPanelLayout.cshtml";
}

<h1 class="text text-info mr-2">@ViewData["Title"]</h1>

<div class="col-lg-9 col-md-9 col-xs-12 pl">
    <div class="profile-content">
        <div class="profile-stats">
            <table class="table table-profile">
                <tbody>
                    <tr>
                        <td class="w-50">
                            <div class="title">نام و نام خانوادگی:</div>
                            <div class="value">@Model.UserName</div>
                        </td>
                        <td>
                            <div class="title">پست الکترونیک :</div>
                            <div class="value">@Model.Email</div>
                        </td>
                    </tr>
                    <tr>
                     <td>
                            <div class="title">تاریخ عضویت:</div>
                            <div class="value">@Model.CreateDate.ToShamci()</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="profile">
                <ul class="mb-0">
                    <li class="profile-item">
                        <div class="title">نام و نام خانوادگی:</div>
                        <div class="value">@Model.UserName</div>
                    </li>
                    <li class="profile-item">
                        <div class="title">پست الکترونیک :</div>
                        <div class="value">@Model.Email</div>
                    </li>
                   <li class="profile-item">
                        <div class="title">تاریخ عضویت:</div>
                        <div class="value">@Model.CreateDate.ToShamci()</div>
                    </li>
                 </ul>
            </div>
            <div class="profile-edit-action">
                <a asp-area="Accounts" asp-controller="UserPanel" asp-action="EditUserPanel" class="link-spoiler-edit btn btn-secondary">ویرایش اطلاعات</a>
            </div>
        </div>
    </div>
</div>